@import url("https://cdn.web-fonts.ge/fonts/alk-tommaso/css/alk-tommaso.min.css");
@import url("https://cdn.web-fonts.ge/fonts/arial-geo-bolditalic/css/arial-geo-bolditalic.min.css");
/*font-family: "Arial GEO BoldItalic", sans-serif;*/

@font-face {
    font-family: 'ALK Tommaso';
    src: url('../fonts/alk-tommaso-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-tommaso-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-tommaso-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-tommaso-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-tommaso-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-tommaso-webfont.svg#alk_tommasoregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Arial GEO BoldItalic';
    src: url('../fonts/arial-geo-bolditalic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/arial-geo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/arial-geo-bolditalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/arial-geo-bolditalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/arial-geo-bolditalic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/arial-geo-bolditalic-webfont.svg#arial_geobolditalic') format('svg'); /* Legacy iOS */
}

*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1920px;
	width: 100%;
	margin: 0px auto;
	padding: 0px ;
}

img{
	max-width: 100%;
}

li a{
	font-family: "ALK Tommaso", sans-serif;
	vertical-align: middle;
	text-align: left;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
	
}

header{
	background-color: #0020F4;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 388px;
	opacity: 1;
	display: inline-block;
}

ul{
	list-style: none;
	display: inline-block;
}
li{
	display: inline-block;
}

nav{
	display: inline-block;
	margin-left: 241px;
}

a{
	text-decoration: none;
}

h1{
	font-family: 'ALK Tommaso';
}

ul li button{
	border-radius: 28px;
	color: #171717;
	background: #FFFFFF;

}

section button{
	border-radius: 28px;
	color: #FFFFFF;
	background: #0A22F4;
	padding: 68px auto;
}

p,a,button{ 
	font-family: 'Arial GEO BoldItalic';
	color: #171717;
}

ul,ul li{
	display: inline-block;
}

.logo{
	vertical-align: middle;
	width: 115px;
	height: 65px;
    margin-left: 240px
}

p{
	margin: 18px auto;
}
